var Emoji = {
  names: <%= Emoji.names.to_json %>,
  paths: <%= Emoji.names.inject({}) { |h, n| h[n] = asset_path("emoji/#{n}.png"); h }.to_json %>,

  replace: function(string) {
    return string.replace(/:([a-z0-9\+\-_]+):/g, function(match, $1) {
      if (Emoji.names.indexOf($1) >= 0) {
        // FIXME emoji images instead of sprite
        // return '<img alt="' + $1 + '" height="20" src="' + Emoji.paths[$1] + '" style="vertical-align:middle" width="20" />';
        return '<span class="emoji emoji-' + $1 + '" title=":' + $1 + ':"></span>';
      } else {
        return ':' + $1 + ':';
      }
    })
  }
};
